/* src/pages/Contratar.css */
.contratar-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contratar-info {
  margin-top: 2rem;
  text-align: left;
}

.btn-procurar {
  margin-top: 2rem;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #ff5c00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
