@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
.botao-voltar-home {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #ff6b00; /* laranja */
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.botao-voltar-home:hover {
  background-color: #e85a00;
}

.botao-home-painel {
  background-color: #4f46e5; /* azul arroxeado */
}

.botao-home-painel:hover {
  background-color: #4338ca;
}
